@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #ffa500;
  --text-color: #333;
  --text-light: #666;
  --bg-light: #f9f9f9;
  --bg-dark: #222;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}
